# 应用环境
APP_ENV=dev
LOG_LEVEL=DEBUG
SERVER_HOST=0.0.0.0
SERVER_PORT=8000


# MySQL 配置
# 正式环境
MYSQL_HOST=192.168.0.101
MYSQL_PORT=3306
MYSQL_USER=test
MYSQL_PASSWORD=test123
MYSQL_DATABASE=test
# 开发/测试环境
MYSQL_USER_DEV=test@dev
